@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


// Header

* {
  font-family: 'Roboto', sans-serif;
}



a.navbar-link {
  color: #2EA3F2 !important;
  margin-top: 20px;
  font-weight: bold;
  font-size: 12pt;
  transition: all 0.7s;
  margin-bottom: 20px;

}

a.navbar-link:hover {
  background-color: #EEEEEC !important;
  transition: all 0.7s;
}

a.navbar-brand > img {
  height: 60px;
  transform: translateY(-5px);
}

#myNavbar {
  background-color: white;
}
