$primary: #306090;

// NAVBAR
.navbar {
  box-shadow: 2px 2px 5px $primary;
  font-family: 'Roboto', sans-serif;
  opacity: .9;

  .nav-link {
    font-size: 14px;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;
  }

  .nav-item {
    font-size: 1rem;
    padding-right: 10px;
  }

  .nav-item.active {
    border-left: $primary 3px solid;
  }
}

li > form > button.btn.btn-link.nav-link > i {
  padding: 0px 10px;
}

nav.navbar.navbar-expand-sm.navbar-light.p-0 {
  z-index: 1 !important;
}

// FOOTER
#main-footer {
  background-color: $primary;

  div.social-icons {
    text-align: right;

    i {
      padding: 7px 5px 0px 5px;
    }
  }

  div.social-icons-xs {
    margin: 0px auto;  
    i {
      padding: 0px 5px;
    }
  }

  div.col-xs-12.d-block.d-sm-none.brand {
    margin: 0px auto;
    font-size: 0.5rem;
    text-align: center !important;
  }
}



