$primary: #306090;

// NAVBAR
.navbar {
  box-shadow: 2px 2px 5px $primary;
  font-family: 'Roboto', sans-serif;
  opacity: .9;

  .nav-link {
    font-size: 14px;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;
  }

  .nav-item {
    font-size: 1rem;
    padding-right: 10px;
  }

  .nav-item.active {
    border-left: #444 3px solid;
  }
}

#main-footer {
  background-color: $primary;
}
