<!-- HOME ICON SECTION -->
<section id="icons" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-book mb-2"></i>
        <h3>Contenido Universitario</h3>
        <p>
          En GECO hemos hecho un gran esfuerzo colaborativo para recopilar contenido
          útil para tu aventura en la universidad. ¡Disfrutalo!
        </p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-code-fork mb-2"></i>
        <h3>Haz tu guía</h3>
        <p>
          ¿No consigues una guía? Por que compartes una hecha por tí para
          la comunidad universitaria. ¡Seguro alguien la aprecia!
        </p>
        <p class="text-muted">
          En desarollo
        </p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-group mb-2"></i>
        <h3>Sé preparador GECO</h3>
        <p>
          ¿Quieres ser preparador GECO? ¡Conoce sobre nuestro proceso!
        </p>
      </div>
    </div>
  </div>
</section>
