<footer id="main-footer" class="py-3 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6 ml-auto">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-github" aria-hidden="true"></i>
        <i class="fa fa-google-plus" aria-hidden="true"></i>
        <i class="fa fa-rss" aria-hidden="true"></i>
        <p class="lead"><strong>GECO</strong> - Generadores de conocimiento</p>
      </div>
    </div>
  </div>
</footer>
