<nav class="navbar navbar-default" style="height: 80px, background-color: white !important">
  <div class="container-fluid" style="background-color: white !important">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" title="Inicio"><img class="img-responsive" src="/assets/logo-navbar.jpg" alt=""></a>
    </div>


    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a class="navbar-link" href="/" alt="Inicio">Inicio</a></li>
        <li><a class="navbar-link" href="/sobre-nosotros" alt="Sobre nosotros">Sobre Nosotros</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" alt="Busqueda"><i class="fa fa-search fa-2x navbar-link" aria-hidden="true" style="background-color: none !important"></i></a>
        </li>
        <li><form><input type="search" name="busqueda" placeholder="MA1111"/></form></li>
        <li>
          <!-- <a class="navbar-link" href="/login" alt="Login">Login</a> -->
          <% if signed_in? %>
            <p class="navbar-text">Signed in as: <%= current_user.email %></p>
            <%= button_to 'Sign out', sign_out_path, class: "navbar-button", method: :delete %>
          <% else %>
            <%= link_to 'Sign in', sign_in_path, class: "navbar-link", alt: "Sign in" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
